- var imgsrc =  '../assets/images/tasting-notes-ingredients/'
section.tasting-notes__intro
  div.wrapper
    header.tasting-notes__header
      h3.tasting-notes__headline Tasting Notes&mdash;
    div.tasting-notes__para
      p TEALEAVES x Rudd Cabernet French Oak Tea.
        | Color, aroma, and taste express palate in tea, as in wine.

    div.tasting-notes__body
      dl.tasting-notes__row.cf
        dt.tasting-notes__title Color
        dd.tasting-notes__copy The Liquor: Light jade celadon, typical of unfermented camelia sinensis.
        dt.tasting-notes__title Aroma
        dd.tasting-notes__copy The Nose: Muscatel overtones, jasmine-forward flourish.  Subtle hints of vanilla.
        dt.tasting-notes__title Taste
        dd.tasting-notes__copy The Finish: Complex character, balanced.  Slightly astringent (tannic).

section.tasting-notes__imagery
  div.wrapper
      ul.tasting-notes__row.cf
        li.tasting-notes__cabernet.col-3rd.rel
          figure
            img.tasting-notes__note-image.parallax.waypoint(threshold=0.3 active-after speed=0.90 stop-after src=imgsrc + "grapes.png" alt="Tealeaves x Rudd")
            figcaption.parallax(speed=0.6)
              p Hints of muscat, memory of the wine
        li.tasting-notes__tea-cup.col-3rd.rel
          figure
            img.tasting-notes__note-image.parallax.waypoint(threshold=0.4 active-after speed=0.60 stop-after src=imgsrc + "cup.png" alt="teacup")
        li.tasting-notes__vanilla.col-3rd.rel
          figure
            img.tasting-notes__note-image.parallax.waypoint(threshold=0.2 active-after speed=0.90 stop-after src=imgsrc + "vanilla-bean.png" alt="Tealeaves x Rudd")
            figcaption.parallax(speed=0.8)
              p Intoxicating heady notes of golden jasmine
  div.wrapper
    ul.tasting-notes__row--full-width.cf
      li.tasting-notes__oak.col-3rd.rel
        figure
          img.tasting-notes__note-image.parallax.waypoint(threshold=0.3 active-after speed=0.60 stop-after src=imgsrc + "barrel-lid.png" alt="Tealeaves x Rudd")
          figcaption.parallax(speed=0.5)
            p Hints of muscat, memory of the wine
      li.tasting-notes__white-tea.col-3rd.rel
        figure
          img.tasting-notes__note-image.parallax.waypoint(threshold=0.4 active-after speed=0.90 stop-after src=imgsrc + "white-tea.png" alt="teacup")
          figcaption.parallax(speed=0.75)
            p Delicate notes of white tea.
      li.tasting-notes__jasmine.col-3rd.rel
        figure
          img.tasting-notes__note-image.parallax.waypoint(threshold=0.2 active-after speed=0.60 stop-after src=imgsrc + "jasmine.png" alt="Tealeaves x Rudd")
          figcaption.parallax(speed=0.5)
            p Intoxicating heady notes of golden jasmine