- var imgsrc =  'assets/images/tasting-notes-ingredients/'
section.tasting-notes__intro#tastingnotes
  div.wrapper
    header.tasting-notes__header
      h3.tasting-notes__headline Tasting Notes&mdash;
    div.tasting-notes__para
      p TEALEAVES x Rudd Cabernet French Oak Tea.
        | Color, aroma, and taste express palate in tea, as in wine.

    div.tasting-notes__body
      div.tasting-note
        div.tasting-notes__title Color
        div.tasting-notes__copy
          h3 The Liquor:
          p Light jade celadon, typical of unfermented camelia sinensis.
      div.tasting-note
        div.tasting-notes__title Aroma
        div.tasting-notes__copy
          h3 The Nose:
          p Muscatel overtones, jasmine-forward flourish.  Subtle hints of vanilla.
      div.tasting-note
        div.tasting-notes__title Taste
        div.tasting-notes__copy
          h3 The Finish:
          p Complex character, balanced.  Slightly astringent (tannic).

section.tasting-notes__imagery
  ul.tasting-notes__images.cf

    li.tasting-notes__tea-cup.rel
      figure
        img.tasting-notes__note-image.parallax.waypoint(threshold=0.4 active-after speed=0.75 stop-after src=imgsrc + "cup.png" alt="teacup")

    li.tasting-notes__cabernet.rel
      figure
        img.tasting-notes__note-image.parallax.waypoint(threshold=0.4 active-after speed=0.85 stop-after src=imgsrc + "grapes.png" alt="Tealeaves x Rudd")
        figcaption.tasting-notes__note-copy.parallax.waypoint(threshold=0.4 active-after speed=0.75 stop-after)
          p Hints of muscat, memory of the wine

    li.tasting-notes__vanilla.rel
      figure
        img.tasting-notes__note-image.parallax.waypoint(threshold=0.4 active-after speed=0.85 stop-after src=imgsrc + "vanilla-bean.png" alt="Tealeaves x Rudd")
        figcaption.tasting-notes__note-copy.parallax.waypoint(threshold=0.4 active-after speed=0.8 stop-after)
          p Intoxicating heady notes of golden jasmine

    li.tasting-notes__white-tea.rel
      figure
        img.tasting-notes__note-image.parallax.waypoint(threshold=0.4 active-after speed=0.85 stop-after src=imgsrc + "white-tea.png" alt="teacup")
        figcaption.tasting-notes__note-copy.parallax.waypoint(threshold=0.4 active-after speed=0.75 stop-after)
          p Delicate notes of white tea.

    li.tasting-notes__jasmine.rel
      figure
        img.tasting-notes__note-image.parallax.waypoint(threshold=0.4 active-after speed=0.75 stop-after src=imgsrc + "jasmine.png" alt="Tealeaves x Rudd")
        figcaption.tasting-notes__note-copy.parallax.waypoint(threshold=0.4 active-after speed=0.7 stop-after)
          p Intoxicating heady notes of golden jasmine

    li.tasting-notes__oak.rel
      figure
        img.tasting-notes__note-image.parallax.waypoint(threshold=0.4 active-after speed=0.75 stop-after src=imgsrc + "barrel-lid.png" alt="Tealeaves x Rudd")
        figcaption.tasting-notes__note-copy.parallax.waypoint(threshold=0.4 active-after speed=0.7 stop-after)
          p Hints of muscat, memory of the wine
