- var imgsrc =  '../assets/images/tasting-notes-ingredients/'

section.tasting-notes__intro
  div.wrapper
    header.tasting-notes__header
      h3.tasting-notes__headline Tasting Notes&mdash;
    div.tasting-notes__para
      p TEALEAVES x Rudd Cabernet French Oak Tea.
        | Color, aroma, and taste express palate in tea, as in wine.

    div.tasting-notes__body
      dl.tasting-notes__row.cf
        dt.tasting-notes__title Color
        dd.tasting-notes__copy The Liquor: Light jade celadon, typical of unfermented camelia sinensis.
      dl.tasting-notes__row.cf
        dt.tasting-notes__title Aroma
        dd.tasting-notes__copy The Nose: Muscatel overtones, jasmine-forward flourish.  Subtle hints of vanilla.
      dl.tasting-notes__row.cf
        dt.tasting-notes__title Taste
        dd.tasting-notes__copy The Finish: Complex character, balanced.  Slightly astringent (tannic).

section.tasting-notes__imagery
  div.wrapper
    div.tasting-notes__row.cf
      div.tasting-notes__tea-cup
        figure
          img.tasting-notes__note-image(src=imgsrc + "cup.png" alt="teacup")
    div.tasting-notes__row.cf
      div.tasting-notes__cabernet
        figure
          img.tasting-notes__note-image(src=imgsrc + "grapes.png" alt="Tealeaves x Rudd")
          figcaption
            p Hints of muscat, memory of the wine
      div.tasting-notes__vanilla
        figure
          img.tasting-notes__note-image(src=imgsrc + "vanilla-bean.png" alt="Tealeaves x Rudd")
          figcaption
            p Intoxicating heady notes of golden jasmine
  div
    ul.tasting-notes__row--full-width.cf
      li.tasting-notes__white-tea
        figure
          img.tasting-notes__note-image(src=imgsrc + "white-tea.png" alt="teacup")
          figcaption
            p Delicate notes of white tea.
      li.tasting-notes__jasmine
        figure
          img.tasting-notes__note-image(src=imgsrc + "jasmine.png" alt="Tealeaves x Rudd")
          figcaption
            p Intoxicating heady notes of golden jasmine
      li.tasting-notes__oak
        figure
          img.tasting-notes__note-image(src=imgsrc + "barrel-lid.png" alt="Tealeaves x Rudd")
          figcaption
            p Hints of muscat, memory of the wine